<div style="border-radius: 15px; border: 3px solid indigo; padding: 15px;">
<b>  </b>
    
!    ,     .   ,    .       ,   ,   . 

      .
     ,       .   ,     ,    .        ,     ,    .
    
**           - ,  .**
    ** ,       **,        .
    
 ,      .   ,          ,     .    ,       .   
        
<hr>
    
** :**  ,   ,     ,     .     ,     .         .      .
    
<hr style="border-top: 3px solid purple; "></hr>
        Markdown :
    
    
    <div class="alert alert-info">
    <h2>  </h2>

     .
    </div>
    
    
    <font color='red'>      . </font>     

<font color='red'>   . </font> 
  
    
  ,        ,  **h2**  **b**   `<a class="tocSkip">`   * *.
</div>

#   

    .  ,              .         .

       ** **   ,        .

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
 ,     .    ,   ,       - .
</div>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##  1.

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Inga/Data/data_project_1.csv')
print(data.head(20))
data.info()

    Unnamed: 0  children  ...   total_income                                 purpose
0            0         1  ...  253875.639453
1            1         1  ...  112080.014102
2            2         0  ...  145885.952297
3            3         3  ...  267628.550329
4            4         0  ...  158616.077870
5            5         0  ...  255763.565419
6            6         0  ...  240525.971920
7            7         0  ...  135823.934197
8            8         2  ...   95856.832424
9            9         0  ...  144425.938277
10          10         2  ...  113943.491460
11          11         0  ...   77069.234271
12          12         0  ...            NaN
13          13         0  ...  130458.228857
14          14         0  ...  165127.911772
15          15         1  ...  116820.904450
16          16         0  ...  289202.704229
17          17         0  ...   90410.586745
18          18         0  ...   56823.777243
19          19         0  ...  242831.107982

[20 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        21525 non-null  int64
 1   children          21525 non-null  int64
 2   days_employed     19351 non-null  float64
 3   dob_years         21525 non-null  int64
 4   education         21525 non-null  object
 5   education_id      21525 non-null  int64
 6   family_status     21525 non-null  object
 7   family_status_id  21525 non-null  int64
 8   gender            21525 non-null  object
 9   income_type       21525 non-null  object
 10  debt              21525 non-null  int64
 11  total_income      19351 non-null  float64
 12  purpose           21525 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 2.1+ MB

****

  pandas.  .read_csv()       data.
           ( days_employed),   education  ,      (), total_income      .     days_employed  total_income.   ,   .info(),      days_employed, total_income.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
  .
</div>

##  2.

###

In [3]:
#print(data.isnull().sum())
missing_data = data[data.isnull().any(axis=1)]
#print(missing_data)

#print(data['income_type'].unique())
#print(missing_data['income_type'].unique())

data['days_employed'] = data['days_employed'].abs()

In [4]:
#print(data['dob_years'].max())
#print(data['dob_years'].min())

def age_groups(age):
    if age <20:
        return 'young'
    if 20 <= age < 55:
        return 'middle age'
    else:
        return 'senior'
    
data['age_group'] = data['dob_years'].apply(age_groups)    
    
data.loc[:,('total_income')] = data.groupby(['income_type', 'education', 'age_group'])['total_income'].apply(lambda x: x.fillna(x.median()))

data.loc[:,('days_employed')] = data.groupby('income_type')['days_employed'].apply(lambda x: x.fillna(x.median()))

print(data.isnull().sum())

data[data['total_income'].isnull()]

#remove these rows

Unnamed: 0          0
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        4
purpose             0
age_group           0
dtype: int64

       Unnamed: 0  children  ...                     purpose  age_group
3891         3891         1  ...        senior
5936         5936         0  ...         senior
6670         6670         0  ...          young
18818       18818         0  ...                  senior

[4 rows x 14 columns]

In [6]:
data = data.dropna()

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
.       ,     ,    2-3  ?      . ,   +  +  .   ?  ,  .      ,     . 
</div>
<div class="alert alert-info">
<h2>  </h2>

    :
1)        ,     :
    print(data['dob_years'].max())
    print(data['dob_years'].min())
    
2)      :
    def age_groups(age):
    if age <20:
        return 'young'
    if 20 <= age < 55:
        return 'middle age'
    else:
        return 'senior'
                      
3)      
                      data['age_group'] = data['dob_years'].apply(age_groups) 
                      
4)    'total income'   'education'  'age_group':
                      data.loc[:,('total_income')] = data.groupby(['income_type', 'education', 'age_group'])['total_income'].apply(lambda x: x.fillna(x.median()))
                       
</div>

****

  .isnull().sum() ,    days_employed  total_income     - 2174.          , ,        2174.            : days_employed  total_income.   ,        .   . 

  unique() ,       ,     ''.          missing_data, ,     . ,    . 

   NaN.          ('' '' '' '' '').   ,       'days_employed',    .  

          apply().      isnull().sum().    .

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
,    ,   .      .</div>

###

In [7]:
data['days_employed'] = data['days_employed'].astype(int)
data['total_income'] = data['total_income'].astype(int)



    ,     days_employed  total_income  float  integer   .astype(int).       ,       .

###

In [8]:
from collections import Counter
#print(Counter(data['education']))
data['education'] = data['education'].str.lower()
#print(Counter(data['education']))

#print(Counter(data['family_status']))
data['family_status'] = data['family_status'].str.lower()
#print(Counter(data['family_status']))
#print(Counter(data['income_type']))
#print(Counter(data['purpose']))
#print(Counter(data['gender']))

#print(data.duplicated().sum()) 
#print(data.shape)

data.drop_duplicates(keep = 'first', inplace = True)

print(data.duplicated().sum()) 
print(data.shape)

Counter({'': 13750, '': 4717, '': 772, '': 711, ' ': 668, '': 274, '': 267, '': 250, ' ': 47, ' ': 27, '': 17, '': 15, ' ': 4, ' ': 1, ' ': 1})
Counter({'': 15233, '': 5258, ' ': 742, '': 282, ' ': 6})
Counter({' / ': 12378, ' ': 4177, '  /  ': 2813, ' ': 1193, ' / ': 960})
Counter({' / ': 12378, ' ': 4177, '  /  ': 2813, ' ': 1193, ' / ': 960})
Counter({'': 11117, '': 5085, '': 3855, '': 1459, '': 2, '': 1, '': 1, ' ': 1})
Counter({'': 797, '  ': 777, ' ': 774, '  ': 676, '  ': 664, '   ': 653, '  ': 652, '   ': 651, ' ': 647, '': 647, '   ': 641, '  ': 635, '': 634, '   ': 630, '  ': 626, ' ': 624, '  ': 620, ' ': 619, ' ': 612, '  ': 605, '   ': 505, '  ': 496, '': 495, '   ': 489, ' ': 480, '   ': 479, '': 478, '  ': 472, ' ': 462, ' ': 462, '  ': 455, ' ': 453, '': 447, '  ': 447, ' ': 443, ' ': 436, '  ': 426, ' ': 412})
Counter({'F': 14233, 'M': 7287, 'XNA': 1})
0
(21521, 14)
0
(21521, 14)

In [114]:
data.head()

   Unnamed: 0  children  ...   age_group  children_yes_or_no
0           0         1  ...  middle age                   1
1           1         1  ...  middle age                   1
2           2         0  ...  middle age                   0
3           3         3  ...  middle age                   1
4           4         0  ...  middle age                   0

[5 rows x 15 columns]

In [11]:
data.duplicated().sum()

0

In [12]:
#     'education_id'/'education'  'family_status_id'/'family_status'   :
    
education_dict = data[['education_id','education']]
family_status_dict = data[['family_status_id', 'family_status']]

#          drop_duplicates().       .

education_dict = education_dict.drop_duplicates().reset_index(drop=True)
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)
print(education_dict.sort_values(by = 'education_id'))

print(family_status_dict.sort_values(by = 'family_status_id'))

   education_id            education
0             0
1             1
2             2
3             3
4             4
   family_status_id          family_status
0                 0         /
1                 1
2                 2          /
3                 3
4                 4    /

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
      ,       .        ****   ****     (    ),  . </div>

****

1)  Counter        object. ,    'education'  'family_status'   -   .           str.lower().    Counter.
2)   duplicated()      .  drop_duplicates     ,      keep = 'first'      .    shape    . ,    71  .            .

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid">
<h2>   </h2>
    
       .      `education`  `education_id`,          (  dict).   -   ?
    
<div class="alert alert-info">
<h2>  </h2>

     'education_id'/'education'  'family_status_id'/'family_status'   :
    
education_dict = data[['education_id','education']]
family_status_dict = data[['family_status_id', 'family_status']]

         drop_duplicates().       .

education_dict = education_dict.drop_duplicates().reset_index(drop=True)
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)
print(education_dict.sort_values(by = 'education_id'))

print(family_status_dict.sort_values(by = 'family_status_id')) 
</div>
</div>

###

In [117]:
#import numpy as np

In [125]:
#x = np.array([[1, 3, 4, 5],[0, 2, 8, 6]])

In [127]:
#x.reshape(-1)

array([1, 3, 4, 5, 0, 2, 8, 6])

In [115]:
lemmas = pd.read_csv('/content/drive/MyDrive/Inga/Data/new_data')

In [ ]:
from pymystem3 import Mystem
m = Mystem()
#lemmas = [[m.lemmatize(word) for word in data['purpose']]]  
#print(lemmas)
import numpy as np
n_lemmas = np.array(lemmas)
df_lemmas = pd.Series(n_lemmas.reshape(-1))
#df_lemmas = pd.Series(lemmas)
#print(df_lemmas)

#data = pd.concat((data, df_lemmas), axis=1)
#data [['df_lemmas']] = df_lemmas
print(data.head(20))
data.to_csv('new_data')

#lemmas_file = pd.DataFrame(lemmas)
#print(lemmas_file)

In [128]:
lemmas

       Unnamed: 0  ...                                                  0
0               0  ...                    ['', ' ', '', '\n']
1               1  ...          ['', ' ', '', '\n']
2               2  ...                    ['', ' ', '', '\n']
3               3  ...       ['', ' ', '', '\n']
4               4  ...                  ['', ' ', '', '\n']
...           ...  ...                                                ...
21520       21520  ...         ['', ' ', '', ' ', '', '\n']
21521       21521  ...      ['', ' ', '', ' ', '', '\n']
21522       21522  ...                             ['', '\n']
21523       21523  ...  ['', ' ', '', ' ', '', ' ', '...
21524       21524  ...    ['', ' ', '', ' ', '', '\n']

[21525 rows x 16 columns]

In [129]:
pip install pymorphy2

Requirement already satisfied: pymorphy2 in /usr/local/lib/python3.7/dist-packages (0.9.1)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.7.2)

In [130]:
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

In [137]:
morph.parse('')[0].tag

OpencorporaTag('NOUN,anim,femn sing,nomn')

In [138]:
mama= morph.parse('')[0]

In [139]:
'NOUN' in mama.tag

True

 ,       -.

In [140]:
def only_nouns(list_of_strings):
    buf_list = []
    for word in list_of_strings:
        #print(word)
        razbor = morph.parse(word)[0]
        if 'NOUN' in razbor.tag:
            buf_list.append(word)
    
    return buf_list

In [141]:
lem =  pd.Series(lemmas.iloc[:, 15], name='Lemmas')

In [144]:
lem[0]

"['', ' ', '', '\\n']"

In [164]:
'_ '.split('_')

['', ' ']

In [165]:
l = [int(i) for i in input().split()]

3 45 68

In [169]:
l[0]/l[1]

0.06666666666666667

In [170]:
lem[0]

"['', ' ', '', '\\n']"

In [166]:
lem[0].replace("[", "").replace("]", "").replace('\'', "").replace(",", "").replace("\\n", "").replace("  ", '').split()  #    -   1 ??

['', '']

In [172]:
lem = lem.apply(lambda x : x.replace("[", "").replace("]", "").replace("\'", "").replace(",", "").replace("\\n", "").replace("  ", '').split())

In [173]:
lem

0                       [, ]
1             [, ]
2                       [, ]
3          [, ]
4                     [, ]
                      ...
21520               [, , ]
21521            [, , ]
21522                     []
21523    [, , , ]
21524          [, , ]
Name: Lemmas, Length: 21525, dtype: object

In [174]:
lem = lem.apply(only_nouns)

In [175]:
lem

0                  [, ]
1        [, ]
2                  [, ]
3                     []
4                         []
                    ...
21520             [, ]
21521          [, ]
21522                []
21523         [, ]
21524         [, ]
Name: Lemmas, Length: 21525, dtype: object

In [176]:
lem = lem.apply(lambda x: x[-1])

In [178]:
lem.unique()

array(['', '', '', '', '',
       '', ''], dtype=object)

  7   ( !)

In [179]:
data_lemmatized = lemmas

In [183]:
data_lemmatized.purpose = lem

In [182]:
data_lemmatized

       Unnamed: 0  ...                                                  0
0               0  ...                    ['', ' ', '', '\n']
1               1  ...          ['', ' ', '', '\n']
2               2  ...                    ['', ' ', '', '\n']
3               3  ...       ['', ' ', '', '\n']
4               4  ...                  ['', ' ', '', '\n']
...           ...  ...                                                ...
21520       21520  ...         ['', ' ', '', ' ', '', '\n']
21521       21521  ...      ['', ' ', '', ' ', '', '\n']
21522       21522  ...                             ['', '\n']
21523       21523  ...  ['', ' ', '', ' ', '', ' ', '...
21524       21524  ...    ['', ' ', '', ' ', '', '\n']

[21525 rows x 16 columns]

In [184]:
data = data_lemmatized.iloc[:, 0:15]

****

    'purpose'.       word       lemmas.

###

In [ ]:
##print(data['purpose'].value_counts())
#
#def category_purpose(purpose):
#    for i in lemmas:
#        if '' in i:
#            return '  '
#        if '' in i:
#            return '  '
#        if '' in i:
#            return '  '
#        if '' in i:
#            return ''  
#        if '' in i:
#            return ''     
#    
#data.loc[data.loc[:,'purpose'].apply(category_purpose)] 
#
#print(Counter(data['purpose']))
#

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
  .         100 ?    ,     Counter .  </div>

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
   . </div>

****

 value_counts       'purpose'. ,        - (, '': 797, '  ': 777, ' '  .).             purpose  .  Counter     purpose.

##  3.

-           ?

In [13]:
#      :
print(data['children'].value_counts())

# ,  47      (-1). 
# ,     .      abs:
data['children'] = data['children'].abs()

# 76      20.      5 (  20),
#  ,        .  20   2:

def change_amount_of_children(x):
    if x == 20:
        return 2
    else:
        return x

  
data['children'] = data['children'].apply(change_amount_of_children)

#    value_counts()
print(data['children'].value_counts())

 0     14146
 1      4817
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
0    14146
1     4864
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

In [14]:
debt_by_children_group = data.groupby('children')['debt'].sum()
applicants_by_children_group = data.groupby('children')['children'].count() 

print(debt_by_children_group)
print(applicants_by_children_group)

perc_of_debt_by_children = (debt_by_children_group / applicants_by_children_group) * 100

print((perc_of_debt_by_children).sort_values())

children
0    1063
1     445
2     202
3      27
4       4
5       0
Name: debt, dtype: int64
children
0    14146
1     4864
2     2131
3      330
4       41
5        9
Name: children, dtype: int64
children
5    0.000000
0    7.514492
3    8.181818
1    9.148849
2    9.479118
4    9.756098
dtype: float64

****

          0.03.       .

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
 -  .    ?   .             .  . </div>

<div class="alert alert-info">
<h2>  </h2>

         .       'children'       :    
debt_by_children_group = data.groupby('children')['debt'].sum()
    
             :    
applicants_by_children_group = data.groupby('children')['children'].count() 

  :
print(debt_by_children_group)
print(applicants_by_children_group)

          :    
perc_of_debt_by_children = (debt_by_children_group / applicants_by_children_group) * 100

print(perc_of_debt_by_children)
</div>

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2>  </h2>
    
20    ? </div>

<div class="alert alert-info">
<h2>  </h2>

     :
print(data['children'].value_counts())

,  47      (-1). 
 ,     .      abs:
data['children'] = data['children'].abs()

76      20.      5 (  20), 
  ,        .  20   2:

def change_amount_of_children(x):
    if x == 20:
        return 2
    else:
        return x

  
data['children'] = data['children'].apply(change_amount_of_children)

   value_counts()
print(data['children'].value_counts())
</div>

<div class="alert alert-info">
<h2>  </h2>

:
        5 .    ,      9. ,           . 
     (7.51%)     .        4  (9.75%),     41,           (14149).         . 
    
</div>

-           ?

In [15]:
print(data['family_status'].value_counts())

debt_by_family_status_group = data.groupby('family_status')['debt'].sum()
applicants_by_family_status_group = data.groupby('family_status')['family_status'].count() 

perc_of_debt_by_family_status = (debt_by_family_status_group / applicants_by_family_status_group) * 100

print((perc_of_debt_by_family_status).sort_values())

 /           12378
           4177
  /       2813
                  1193
 /              960
Name: family_status, dtype: int64
family_status
 /            6.562500
                 7.124895
 /           7.521409
          9.288963
  /      9.740491
dtype: float64

****

          -0.008.       .
<div class="alert alert-info">
<h2>  </h2>

:
         ' / ',       10         ' / '. 
        '  /  ' (9.74%).    
    
</div>

-           ?

In [16]:
data['debt'].corr(data['total_income']) #   

#      ,        : 
print(data['total_income'].quantile([0.25, 0.50, 0.75], interpolation='nearest'))

#    :
def income_levels(x):
    if x < 107702:
        return 'low_income'
    if 107702 <= x < 143302:
        return 'middle'
    if 143302 <= x < 198149:
        return 'middle_high'
    if x > 198149:
        return 'high'
    
data['income_group'] = data['total_income'].apply(income_levels)   

print(data['income_group'].value_counts())

debt_by_income_group = data.groupby('income_group')['debt'].sum()
applicants_by_income_group = data.groupby('income_group')['income_group'].count() 

perc_of_debt_by_income = (debt_by_income_group / applicants_by_income_group) * 100

print((perc_of_debt_by_income).sort_values())

0.25    107702
0.50    143302
0.75    198149
Name: total_income, dtype: int64
middle_high    5381
low_income     5380
high           5380
middle         5379
Name: income_group, dtype: int64
income_group
high           6.970260
low_income     7.936803
middle_high    8.567181
middle         8.886410
dtype: float64

****

<div class="alert alert-info">
<h2>  </h2>

            . 
    
                 ,  :     (6.96%)        ( 198149).    (8.88%)        107702 - 143302.
</div>

-          ?

In [185]:

debt_by_purpose = data.groupby('purpose')['debt'].sum()
applicants_by_purpose = data.groupby('purpose')['purpose'].count()

In [186]:
debt_by_purpose

purpose
      403
           211
    474
     370
         186
            52
            45
Name: debt, dtype: int64

In [187]:
applicants_by_purpose

purpose
      4315
           3179
    6367
     4022
         2348
            653
            641
Name: purpose, dtype: int64

In [188]:
perc_of_debt_by_purpose = (debt_by_purpose/ applicants_by_purpose) * 100

In [189]:
perc_of_debt_by_purpose

purpose
      9.339513
           6.637307
    7.444636
     9.199403
         7.921635
           7.963247
           7.020281
dtype: float64

****

        purpose   .    corr,   0.001.     .

##  4.

 ,               .

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid">
<h2>  </h2>
    
                  . :     ,       (-    ),    ,            (- ).     .   ,      .  ,         .
</div>

## -  

 'x'   .   Shift+Enter.

- [x]   ;
- [x]   ;
- [x]    ;
- [x]    ;
- [x]   ,    ;
- [x]        ;
- [ ]  ,     ;
- [ ]       ;
- [ ]   ,         ;
- [ ]   ;
- [ ]   ,        ;
- [ ]        ;
- [ ]          ;
- [ ]    ;
- [ ]   ;
- [ ]      ;
- [ ]     : "          ?";
- [ ]     : "          ?";
- [ ]     : "          ?";
- [ ]     : "         ?";
- [ ]      ;
- [ ]    .