<a href="https://colab.research.google.com/github/Jul876876/Classe/blob/main/lesson_1_pandas_changed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/Magillan17/Machine-learning/main/bike_train_dataset.csv'
df = pd.read_csv(url)

### Краткое описание признаков: 
**datetime** - hourly date + timestamp <br/>
**season** -  1 = spring, 2 = summer, 3 = fall, 4 = winter <br/>
**holiday** - whether the day is considered a holiday <br/>
**workingday** - whether the day is neither a weekend nor holiday <br/>
 **weather** - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog  <br/>
 **temp** - temperature in Celsius <br/>
 **atemp** - "feels like" temperature in Celsius <br/>
 **humidity** - relative humidity <br/>
 **windspeed** - wind speed <br/>
 **casual** - number of non-registered user rentals initiated <br/>
 **registered** - number of registered user rentals initiated <br/>
 **count** - number of total rentals <br/>

In [5]:
df.head(10)

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1
5  2011-01-01 05:00:00       1        0  ...       0           1      1
6  2011-01-01 06:00:00       1        0  ...       2           0      2
7  2011-01-01 07:00:00       1        0  ...       1           2      3
8  2011-01-01 08:00:00       1        0  ...       1           7      8
9  2011-01-01 09:00:00       1        0  ...       8           6     14

[10 rows x 12 columns]

### Задания

Поговорить про DataFrame, DataSeries. В чем различие? Аналогии в самом python.

In [6]:
#Вывести последние 5 записей
df.tail(5)

                  datetime  season  holiday  ...  casual  registered  count
10881  2012-12-19 19:00:00       4        0  ...       7         329    336
10882  2012-12-19 20:00:00       4        0  ...      10         231    241
10883  2012-12-19 21:00:00       4        0  ...       4         164    168
10884  2012-12-19 22:00:00       4        0  ...      12         117    129
10885  2012-12-19 23:00:00       4        0  ...       4          84     88

[5 rows x 12 columns]

In [7]:
#Вывести случайные 5 записей
df.sample(5)

                 datetime  season  holiday  ...  casual  registered  count
8910  2012-08-13 15:00:00       3        0  ...      80         194    274
6054  2012-02-08 12:00:00       1        0  ...      14         124    138
7935  2012-06-11 00:00:00       2        0  ...       8          33     41
3019  2011-07-14 17:00:00       3        0  ...      78         517    595
2438  2011-06-09 12:00:00       2        0  ...      40         100    140

[5 rows x 12 columns]

In [8]:
#Вывести размеры датафрейма
df.shape

(10886, 12)

In [9]:
#Вывести типы фичей
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [12]:
df.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [14]:
#Создать переменную columns, в неё положить список из названий всех фичей
columns = df.columns
print(columns)

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [16]:
# Проверить наличие NaNов в каждом из фичей.
df.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [24]:
#Вывести строки под индексами 100, 300, 500
df.loc[[100, 300, 500], ['holiday']]

     holiday
100        0
300        0
500        0

In [27]:
df.temp

0         9.84
1         9.02
2         9.02
3         9.84
4         9.84
         ...
10881    15.58
10882    14.76
10883    13.94
10884    13.94
10885    13.12
Name: temp, Length: 10886, dtype: float64

In [46]:
#Сделать срез датасэта. Выбрать 5-15 строки, столбцы temp, count
df_srez = df.loc[5:15, ['temp', 'count', 'windspeed']]
df_srez

     temp  count  windspeed
5    9.84      1     6.0032
6    9.02      2     0.0000
7    8.20      3     0.0000
8    9.84      8     0.0000
9   13.12     14     0.0000
10  15.58     36    16.9979
11  14.76     56    19.0012
12  17.22     84    19.0012
13  18.86     94    19.9995
14  18.86    106    19.0012
15  18.04    110    19.9995

In [47]:
#Удалить из df_srez столбцы count, windspeed. Записи с 10-15
df_srez = df_srez.drop(['count', 'windspeed'], axis=1)

In [45]:
df_srez

     temp
5    9.84
6    9.02
7    8.20
8    9.84
9   13.12
10  15.58
11  14.76
12  17.22
13  18.86
14  18.86
15  18.04

In [52]:
#Вывести кол-во различных значений в переменной count
#df.head()
df['count'].nunique()

822

In [55]:
#Какие типы переменных бывают? Вывести среднее, медиану, мин, мах по фичам только по *** фичам
df['count'].describe()

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64

In [56]:
#Создать новую колонку 'aaa'. В ней найти отношение зарегистрированных велосипедов к общему числу
df['aaa'] = df['registered'] / df['count']

In [58]:
df.head()

              datetime  season  holiday  ...  registered  count       aaa
0  2011-01-01 00:00:00       1        0  ...          13     16  0.812500
1  2011-01-01 01:00:00       1        0  ...          32     40  0.800000
2  2011-01-01 02:00:00       1        0  ...          27     32  0.843750
3  2011-01-01 03:00:00       1        0  ...          10     13  0.769231
4  2011-01-01 04:00:00       1        0  ...           1      1  1.000000

[5 rows x 13 columns]

In [60]:
#Поменять название колонки 'aaa' на 'ratio'
df = df.rename(columns={'aaa' : 'ratio'})

In [61]:
df.head()

              datetime  season  holiday  ...  registered  count     ratio
0  2011-01-01 00:00:00       1        0  ...          13     16  0.812500
1  2011-01-01 01:00:00       1        0  ...          32     40  0.800000
2  2011-01-01 02:00:00       1        0  ...          27     32  0.843750
3  2011-01-01 03:00:00       1        0  ...          10     13  0.769231
4  2011-01-01 04:00:00       1        0  ...           1      1  1.000000

[5 rows x 13 columns]

In [62]:
# Вывести значения по фиче weather.  Сколько и каких значений есть
a = [1,1,2,2,]
set(a)

{1, 2}

In [63]:
df['weather'].value_counts()

1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

In [64]:
#Вывести максимальную температуру. минимальную температуру
df['temp'].max()

41.0

In [65]:
df['temp'].min()

0.82

In [70]:
# взять срез датасэта сезон, и кол-во велосипедов. Вывести сколько в каждое время года было взято велосипедов
df.groupby(by='season')['count'].sum()

season
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [74]:
# Посчитать общее кол-во записей, когда в день было взято более 50 велосипедов
df[df['count'] > 50].shape[0]

7917

In [75]:
# Посчитать общее кол-во записей, когда в день было взято менее 50 велосипедов и официально не менее 40
df[(df['count'] < 50) & (df['registered'] >= 40)].shape[0]

137

In [76]:
# Перевести дату в дату DS
df['datetime'] = pd.to_datetime(df['datetime'])

In [79]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
ratio                float64
dtype: object

In [80]:
# Создать признаки для года, месяца, дня часа и минуты
df['year'] = df['datetime'].dt.year

In [81]:
df.head()

             datetime  season  holiday  ...  count     ratio  year
0 2011-01-01 00:00:00       1        0  ...     16  0.812500  2011
1 2011-01-01 01:00:00       1        0  ...     40  0.800000  2011
2 2011-01-01 02:00:00       1        0  ...     32  0.843750  2011
3 2011-01-01 03:00:00       1        0  ...     13  0.769231  2011
4 2011-01-01 04:00:00       1        0  ...      1  1.000000  2011

[5 rows x 14 columns]

In [82]:
#Удалить фичи даты, и фичи минут
df = df.drop(['datetime'], axis=1)

In [83]:
df.head()

   season  holiday  workingday  weather  ...  registered  count     ratio  year
0       1        0           0        1  ...          13     16  0.812500  2011
1       1        0           0        1  ...          32     40  0.800000  2011
2       1        0           0        1  ...          27     32  0.843750  2011
3       1        0           0        1  ...          10     13  0.769231  2011
4       1        0           0        1  ...           1      1  1.000000  2011

[5 rows x 13 columns]

In [91]:
#Создать датасэт по дням. Для этого используем groupby по дню месяцу и дате.Чтобы не было проблем с индексацией строк,
#используем reset_index()
#Удалим фичи hour. Какие значения так же сбились? 
df.groupby(['season', 'year']).mean()#.reset_index()

              holiday  workingday   weather  ...  registered       count     ratio
season year                                  ...
1      2011  0.018141    0.694633  1.428571  ...   61.554800   71.905518  0.872582
       2012  0.034483    0.666911  1.420396  ...  138.999266  159.476889  0.894190
2      2011  0.017557    0.683980  1.475494  ...  126.051207  160.940746  0.784012
       2012  0.017570    0.701318  1.370425  ...  209.588580  269.601757  0.792655
3      2011  0.035165    0.683516  1.381685  ...  141.547253  186.994872  0.759900
       2012  0.035088    0.666667  1.351608  ...  222.757310  281.735380  0.796978
4      2011  0.035113    0.666423  1.419898  ...  131.090710  154.787125  0.861811
       2012  0.035113    0.683980  1.499634  ...  209.724214  243.189466  0.871296

[8 rows x 11 columns]

In [90]:
df.groupby(['season', 'year']).mean().reset_index()

   season  year   holiday  ...  registered       count     ratio
0       1  2011  0.018141  ...   61.554800   71.905518  0.872582
1       1  2012  0.034483  ...  138.999266  159.476889  0.894190
2       2  2011  0.017557  ...  126.051207  160.940746  0.784012
3       2  2012  0.017570  ...  209.588580  269.601757  0.792655
4       3  2011  0.035165  ...  141.547253  186.994872  0.759900
5       3  2012  0.035088  ...  222.757310  281.735380  0.796978
6       4  2011  0.035113  ...  131.090710  154.787125  0.861811
7       4  2012  0.035113  ...  209.724214  243.189466  0.871296

[8 rows x 13 columns]

In [92]:
# Типы признаков. Бинарные, Номинальные(Кат), Порядковые и Числовые
# Cделать one_hot_encoding по season. Какие фичи к какому типу отночят? по каким фичам можно делать one_hot_encoding? 
df = pd.get_dummies(df, columns = ['season'])

In [93]:
df.head()

   holiday  workingday  weather  temp  ...  season_1  season_2  season_3  season_4
0        0           0        1  9.84  ...         1         0         0         0
1        0           0        1  9.02  ...         1         0         0         0
2        0           0        1  9.02  ...         1         0         0         0
3        0           0        1  9.84  ...         1         0         0         0
4        0           0        1  9.84  ...         1         0         0         0

[5 rows x 16 columns]